<head>
    <link rel="stylesheet" href="css-file/navbar.css">  

</head>
<span class="navbar" style="height: 70px">
    <span class="navlogo">
        <a href="#home" style="display: flex; align-items: center">
            <img class="img" src="/img/Picture1-removebg-preview.png" width="100" style="margin: -25px 10px -25px 10px" />
            <h1 class="logo">Smart Attendance</h1>
        </a>
    </span>
</span>
